body{
    background-color: aqua;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

article, footer{
    background-color: lightskyblue;
}

article{
    padding: 0 10px;
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
    display: flex;
    gap: 8px;
}
section{
    display: flex;
    gap: 8px;
}

a{
    text-decoration: none;
    color: darkgreen;
    
}

a:hover{
    text-decoration: underline;
}